body{
    margin: 0;
    padding: 0;
    font-family: open sans;
}
header{
    width: 100%;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 15px;
}
.user-image{
    width: 100%;
}
.user-image img{
    width: 116px;
    margin-left: -3%;
    
}
.user-links{
    display: flex;
    list-style: none;
    margin-right: 13%;
}
.user-link-lists{
    margin-right: 9%;
}
.user-link-lists a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.user-section-container{
    width: 100%;
}
.user-container{
    width: 1480px;
    margin-left: 3%;
    background: #f5fbff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.user-section-image{
    width: 100%;

}
.user-section-image img{
    width: 42%;
    height: 650px;
    margin-bottom: -4px;
    
    inset: 0;
    object-fit: cover;
    opacity: 6;
    transition: transform .75s;
}
.user-section-image img:hover{
    transform: scale(1.15);
}
.user-section-heading{
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 72px;
    text-transform: uppercase;
}
.horizontal-line{
    width: 75px;
    border: 3px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
}
.user-my-work{
    position: absolute;
    top: 54%;
    left: 50%;
    font-size: 26px;
    text-transform: capitalize;
    color: #a0a0a0;
}
.user-my-area{
    position: absolute;
    top: 54.5%;
    left: 57%;
    font-size: 26px;
    text-transform: capitalize;
}
.user-my-button{
    position: absolute;
    top: 70%;
    left: 50%;
}
.user-my-button a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 500;
    border: 1px solid #333;
    background: #333;
    padding: 9px 34px;
}
.user-my-button a:hover{
    color: black;
    background: #fff;
}
.user-footer-section{
    width: 100%;
}
.user-footer-container{
    width: 1360px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.user-footer-section p{
    font-size: 18px;

}
.user-span-icon{
    margin-right: -42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.user-all-icon{
    margin-right: 45px;
}
.user-service-container{
    width: 100%;
}
.user-service{
    width: 1480px;
    background: #f5fbff;
    margin-left: 3%;
}
.user-my-heading{
    float: right;
    margin-right: 44%;
    margin-top: -41%;
    letter-spacing: 8px;
    font-size: 17px;
}
.user-my-heading::after{
    content: "";
    width: 557px;
    position: absolute;
    border: 1px solid #7d7789;
    height: 1px;
    transform: translateY(30px);
    background: #7d7789;
    top: 13.2%;
    left: 53%;
    margin-left: 44px;
}

b{
    color: #000;
}
.user-double-area{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    clear: both;
    height: auto;
}
.left{
    width: 40%;
    margin-left: 46%;
    margin-top: -65%;
    color: #404040;
    line-height: 1.6;
}
.right{
    margin-top: -63%;
    margin-right: -2%;
    width: 36%;
    color: #404040;
}
.right ul{
    list-style: none;
    margin-top: -5%;
}
.right ul li{
    margin: 0 0 18px;
    width: 341px;
}
.first{
    margin-right: 9%;
    font-weight: bold;
    display: inline-block;
    width: 50px;
}
.second{
    display: inline-block;
}
