*{
   box-sizing: border-box; 
}
body{
    margin: 0;
    padding: 0;
    font-family: open sans;
}
header{
    width: 100%;
    display: flex;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 15px;
}
.user-image{
    width: 100%;
}
.user-image img{
    width: 116px;
}
.user-links{
    display: flex;
    list-style: none;
    margin-right: 13%;
}
.user-link-lists{
    margin-right: 9%;
}
.user-link-lists a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}
.user-section-container{
    width: 100%;
}
.user-container{
    width: 1480px;
    margin-left: 3%;
    background: #f5fbff;
    overflow-x: hidden;
}
.user-section-image{
    width: 100%;

}
.user-section-image img{
    width: 42%;
    height: 650px;
    margin-bottom: -4px;
 
}

.user-section-heading{
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 72px;
    text-transform: uppercase;
}
.horizontal-line{
    width: 75px;
    border: 3px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
}
.user-my-work{
    position: absolute;
    top: 54%;
    left: 50%;
    font-size: 26px;
    text-transform: capitalize;
    color: #a0a0a0;
}
.user-my-area{
    position: absolute;
    top: 54.5%;
    left: 57%;
    font-size: 26px;
    text-transform: capitalize;
}
.user-my-button{
    position: absolute;
    top: 70%;
    left: 50%;
}
.user-my-button a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: 500;
    border: 1px solid #333;
    background: #333;
    padding: 9px 34px;
}
.user-my-button a:hover{
    color: black;
    background: #fff;
}
.user-footer-section{
    width: 100%;
}
.user-footer-container{
    width: 1360px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.user-footer-section p{
    font-size: 18px;

}
.user-span-icon{
    margin-right: -42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.user-all-icon{
    margin-right: 45px;
}
.user-service-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5fbff;
}
.right-img {
    width:45%
}
.right-img img {
    width: 100%;
    margin-bottom: -3px;
}
.left-content {
    padding:80px;
    width:55%;
    background: #f5fbff;
    margin-top: -6px;
}
.left-content h1{
   font-size: 18px;
   letter-spacing: 3px;
}

.about-container {
    display: flex;
    flex-direction: row;
}

b{
    color: #000;
}

.left{
    width: 50%;
    color: #404040;
    line-height: 1.6;
}
.my-services{
     list-style: none;
}
.my-services li{
   line-height: 2.5;
   margin-left: -11%;
}
.user-icon-play{
    margin-right: 7%;
}
.right{
    width: 50%;
    color: #404040;
}
.right ul{
    list-style: none;
    margin-top: 5%;
}
.right-content h2{
    margin-top: -19%;
    margin-left: 14%;
    letter-spacing: 2px;
    font-size: 21px;
}
.my-service-list{
    line-height: 2.5;
    margin-left: -11%;
}
.right ul li{
    margin: 0 0 18px;
    width: 341px;
}
.first{
    margin-right: 9%;
    font-weight: bold;
    display: inline-block;
    width: 50px;
}
.second{
    display: inline-block;
}
.left-content-ml2{
    padding:63px;
    width:55%;
    background: #f5fbff;
    overflow-y: scroll;
    height: 641px;
}
.left-content-ml23-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ml-paragraph{
    padding: 10px;
    width: 100%;
    margin: 0px 0px;
    color: #a0a0a0;
    font-size: 15px;
}
.ml-paragraph-2{
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin:5px 0px;
    padding:10px;
}
.my-portfolio-work{
    letter-spacing: 2px;
}
.user-portfolio-image{
    width: 100%;
    margin-top: 5%;
    margin-bottom: -16%;
}
.user-portfolio-image img{
    width: 193px;
    margin-right: 12px;
    margin-top: 14px;
}
.user-portfolio-image img:hover{
    filter: blur(1px);
    cursor: pointer;
}
.user-portfolio-details{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right: 58px;
}
.user-portfolio-list{
    margin-left: -10px;
    margin-top: 0;

}
.tabs {
    display:none;
}
.tabs.active {
    display:block;
}
.user-portfolio-list a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 700;
}
.user-portfolio-list a.active{
    text-decoration: underline;
} 
.user-youtube-play{
    font-size: 30px;
    margin-left: -8%;
    color: #fff;
    background: black;
    padding: 5px 9px;
    border-radius: 50%;
    height: 41px;
    z-index: 2;
   
}
.ml-right-content{
    width: 100%;
    overflow: hidden;
}
.user-right-content{
    display: flex;
    width: 100%;
}
.user-unordered-list{
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width:100%;
    padding: 0;
}
.user-unordered-list li {
    width: 33%;
    padding: 10px;
}
.user-unordered-list li .card{ 
    border: 1px solid rgba(0,0,0,.07);
    overflow: hidden;
    width: 100%;
    
}
.user-unordered-list li img{
    width: 100%;
    transition: transform .2s;
}
.user-unordered-list li img:hover{
    transform: scale(1.1);
}
.user-full-border{
    width: 185px;
    border: 1px solid #333;
}
.my-news-image{
   width: 100%;
}
.my-news-image img{
    width: 183px;
}
.news-paragraph{
    padding: 2px 16px;
    color: #333;
}
.my-contact-work{
    margin-top: -28%;
    margin-left: 5%;
}
.left-container{
    margin-left: -9%;
    margin-top: -11%;
    text-align: center;
    border: 1px solid #333;
    padding: 22px 31px;
    color: #bbb;
}
.left-container i{
    color: #000;
}
.left-container-icon{
    margin-left: 2%;
    margin-top: -13%;
    text-align: center;
    border: 1px solid #333;
    padding: 22px 11px;
    color: #bbb;
}
.left-container-icon i{
    color: #000;
}
.left-container-icon-phone{
    margin-left: 2%;
    margin-top: -13%;
    text-align: center;
    border: 1px solid #333;
    padding: 22px 11px;
    color: #bbb;
}
.left-container-icon-phone i{
    color: #000;
}
.right-container-form{
    display: flex;
    width: 100%;

}